* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

input {
  border-radius: 16px;
  border: none;
  padding: 6px 16px;
}

button {
  border-radius: 16px;
  border: none;
  padding: 4px 16px;
  margin-left: 8px;
}

button:hover {
  background: #0d41ce;
  color: #fff;
  cursor: pointer;
}

.input_area {
  background: blueviolet;
  width: 400px;
  height: 30px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.imcomplete_area {
  background: violet;
  width: 400px;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.complete_area {
  background: greenyellow;
  width: 400px;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.title {
  text-align: center;
  margin-top: 0;
  font-weight: bold;
  font-size: 24px;
  color: #666;
}

ul {
  padding-left: 16px;
}

li {
  padding-bottom: 4px;
}

.list_row {
  display: flex;
}
